
<div id="<%= dom_id category %>" class="category">
  <div class="icon-name">
    <img src='<%= category.icon %>' class="icon"/>
    <span class="cname">
      <p><%= category.name %></p>
      <p class="ctime"><%= category.created_at.to_date%></p>
    </span>
  </div>
  <p class="tamount">
    $<%=category.total_amount%>
  </p>
</div>
