<p style="color: green"><%= notice %></p>

<%= render @category %>
<% @activities.each do |activity| %>
  <%= activity.name %>
  <%= activity.amount %>
<% end %>

<div>
  <%= link_to "Back to categories", categories_path %>

  <%= button_to "Destroy this category", category_path(@category.id), method: :delete %>
</div>

<%= link_to "New Activity", new_category_activity_path(@category.id) %>
